<?xml version="1.0" encoding="UTF-8"?>

<configuration>


    <jmxConfigurator/>

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date [%thread] %-5level %logger{80} - %msg%n</pattern>
        </encoder>
    </appender>


    <logger name="org.kshell.jpa">
        <level value="DEBUG"/>
    </logger>

    <logger name="org.springframework">
        <level value="WARN"/>
    </logger>


    <root>
        <level value="TRACE"/>
        <appender-ref ref="stdout"/>
    </root>

</configuration>

